name: Build and Push Docker Image

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: write
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t gangadhar66/playwright-tests:${{ github.sha }} .

      - name: Push Docker image
        run: |
          docker push gangadhar66/playwright-tests:${{ github.sha }}
      - name: Update image tag in pod yaml
        run: |
          sed -i "s|image: gangadhar66/playwright-tests:.*|image: gangadhar66/playwright-tests:${{ github.sha }}|" pod_file/pw-pod.yaml

      - name: Commit and push pod yaml
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add pod_file/pw-pod.yaml
          git commit -m "Update image to ${{ github.sha }}"
          git push
